<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Vite App</title> -->
    <title><%=VITE_APP_TITLE%></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <!-- 在html页面引入JS脚本包(data-appid属性值为申请接入QQ登录时获得的appid；data-redirecturi属性值为申请接入QQ登录时输入的回调地址即用户授权QQ登录后跳转的地址) -->
    <!-- <script
      src="https://connect.qq.com/qc_jssdk.js"
      data-appid="102015968"
      data-redirecturi="http://consult-patients.itheima.net/login/callback"
    ></script> -->
    <!-- 跳转的地址http://consult-patients.itheima.net/login/callback需要区分开发和生产环境。使用 vite-plugin-html 插件解析模板，默认支持 ejs 模板引擎语法 -->
    <script
      src="https://connect.qq.com/qc_jssdk.js"
      data-appid="102015968"
      data-redirecturi="<%=VITE_APP_CALLBACK%>/login/callback"
    ></script>
    <!-- 如果是开发环境，才使用Eruda手机调试面板工具 -->
    <% if(DEV){ %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eruda/2.4.1/eruda.min.js"></script>
    <script>eruda.init()</script>
    <% } %>
  </body>
</html>
